@{
    ViewBag.Title = "Resources";
}

<h2>Resources</h2>

<!DOCTYPE HTML>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <hr />
    <div>
        <i>
            Not all things from the below links are used in the final version of this website but I read them while developing it. Happy coding! ;)
        </i>
    </div>
    <hr />
    <p>
        <strong>Reading</strong>
        <br />
        <br />
        <a href="https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017" target="_blank">Download SQL Server Management Studio (SSMS)</a>
        <br />
        <a href="https://stackoverflow.com/questions/33397899/connections-to-sql-server-database-files-mdf-require-localdb-or-sql-server-ex" target="_blank">Fix Visual Studio Database Connect Issue</a>
        <br />
        <a href="https://stackoverflow.com/questions/32582208/asp-net-mvc-5-error-on-trying-to-register-at-newly-created-website" target="_blank">Fix Visual Studio Database Register Issue</a>
        <br />
        <a href="https://forums.asp.net/t/2145133.aspx?Logout+button+in+_Layout+cshtml+" target="_blank">Add Register/Login Interactive Buttons To Navbar</a>
        <br />
        <a href="https://stackoverflow.com/questions/6320141/how-to-mix-html-and-c-sharp-code-in-mvc3-with-razor" target="_blank">Mix HTML And C# Code</a>
        <br />
        <a href="https://forums.asp.net/t/1920939.aspx?How+to+get+the+last+record+of+EF+model+data+" target="_blank">Get Latest Record From Database</a>
        <br />
        <a href="https://stackoverflow.com/questions/4091831/how-to-use-ternary-operator-in-razor-specifically-on-html-attributes" target="_blank">Use Ternary Operator Inside Razor Pages</a>
        <br />
        <a href="https://stackoverflow.com/questions/25711271/how-to-download-a-file-to-client-from-server" target="_blank">Download File MVC</a>
        <br />
        <a href="https://stackoverflow.com/questions/815229/how-do-i-redirect-to-the-previous-action-in-asp-net-mvc" target="_blank">Redirect To Previous Action MVC</a>
        <br />
        <a href="https://stackoverflow.com/questions/3667828/asp-net-mvc-get-id-of-last-added-record" target="_blank">Get ID Of Latest Record</a>
        <br />
        <a href="https://stackoverflow.com/questions/22650740/asp-net-mvc-5-delete-file-from-server" target="_blank">Delete File From Server</a>
        <br />
        <a href="https://www.dotnetperls.com/convert-bytes-megabytes" target="_blank">Convert Bytes To Megabytes</a>
        <br />
        <a href="https://www.codeproject.com/Questions/544782/checkplusEmailplusexistsplusorplusnot" target="_blank">Check If Email Is Valid</a>
        <br />
        <a href="https://stackoverflow.com/questions/8887794/check-if-string-has-space-in-between-or-anywhere" target="_blank">Check If String Has Space Anywhere Inside (Or Around) Of It</a>
        <br />
        <a href="https://stackoverflow.com/questions/6292813/how-to-set-dynamic-title-of-html-actionlink-from-controller" target="_blank">Dynamic Title Of Html.ActionLink</a>
        <br />
        <a href="https://stackoverflow.com/questions/200476/html-actionlink-method" target="_blank">Html.ActionLink Constructors</a>
        <br />
        <a href="https://www.tutorialsteacher.com/mvc/htmlhelper-textbox-textboxfor" target="_blank">Html.TextBox Constructor</a>
        <br />
        <a href="http://chatango.com" target="_blank">Shoutbox</a>
        <br />
        <a href="https://stackoverflow.com/questions/487230/serving-favicon-ico-in-asp-net-mvc" target="_blank">Set Favicon</a>
        <hr />
        <strong>Watching</strong>
        <br />
        <br />
        <a href="https://www.youtube.com/watch?v=gSJFjuWFTdA" target="_blank">ASP.NET MVC Complete Login And Registration System (Part 1)</a>
        <br />
        <a href="https://www.youtube.com/watch?v=qGbpfgVm-M4" target="_blank">ASP.NET MVC Complete Login And Registration System (Part 2)</a>
        <br />
        <a href="https://www.youtube.com/watch?v=7g2ptkiPLIg" target="_blank">ASP.NET MVC Implement Forgot Password Functionality (Part 3)</a>
        <br />
        <a href="https://www.youtube.com/watch?v=ckclyp0YUwc" target="_blank">ASP.NET 4.6 MVC Upload Video Files (Save MP4)</a>
        <br />
        <a href="https://www.youtube.com/watch?v=jjCbbEwjSRs" target="_blank">ASP.NET 4.6 MVC Upload Video Files (Display MP4)</a>
        <br />
        <a href="https://www.youtube.com/watch?v=9LPIu_BvatE" target="_blank">ASP.NET MVC 4 - Single And Multiple File Upload</a>
        <br />
        <a href="https://www.youtube.com/watch?v=GS55DDE3VL0" target="_blank">ASP.NET Core MVC Get All Users From Identity Database</a>
        <br />
    </p>
</body>
</html>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
